#1
import json

with open("wine.json") as file:
    wines = json.load(file)

print("this file has", len(wines), "wine reviews")

#2
# we set our variable that we want to work with in the loop
str_length=0
# we create a loop in wines to iterate for each description the length of words and inoutting in a new length variable
for wine in wines:
    # we split the description into its different words to count the total number of words otherwise we would count the individual letters
    str_length= len(wine["description"].split())
    wine["length"]=str_length
    
    #3
# we are creating an empty set to store all the values of the countries
country=[]
for wine in wines:
    countries1= wine["country"]
    # after each iteration, we append the name of the country to have them all in the list
    country.append(countries1)

print(len(set(country))) # we print the length of the set to get the number of distinct countries

#4
#the code starts the same way as before
country=[]
for wine in wines:
    countries1= wine["country"]
    country.append(countries1)

unique_countries= set(country)
# we will do similar to problem 9 from our homework and itarate to find the count of each country and set it in a dictionary
country_dict={}

for countries in unique_countries:
    count= country.count(countries)
    # we added each country with it's value to the dictionary that we just created
    country_dict[countries]= count

print(country_dict)

#5 for this exercise we will work similarly to the last one but instead of having the count for each country, we will add up the rating and find the average for each and store it in a dict
from statistics import mean
#we are creating a function the returns the average score of each country

def avg_points(wines, country, country_dict):
    sum=0
    for wine in wines:
        if country == wine["country"]:
            sum= int(wine["points"]) + sum
        
    ans= sum/ country_dict[country]      
    return ans
            
# we will iterate this function for all the countries and store them in a dictionary
country_avg={}
for country in country_dict:
    # we round to the neared 2 decimals
    country_avg[country]= round(avg_points(wines, country, country_dict), 2)

print(country_avg)
    
    
#6
#we use the math function to get the country with the highest value
max_points= max(country_avg, key=country_avg.get)
print(max_points, country_avg[max_points])

#7
#we want to update the description
for wine in wines:
    wine["description"] = str(wine["description"]) + "This is a " +" "+ str(wine["designation"]) +"from "+" "+ str(wine["country"])+ "that scored "+" "+ str(wine["points"])+ "points"
    
    #8
# we will start by finding all the reviews that do not have twitter and count the proportion
count= 0
for wine in wines:
    if wine["taster_twitter_handle"] is None:
        count=count+1

proportion = (len(wines)-count)/(len(wines))
print(proportion)
                                 
